
.mat-table {
  overflow: auto;
 max-height: 180px;   
} 

img{
    height:135px;
    width:135px;
}

.details-section{
  display: flex;
  flex-flow: row wrap;
}

.details-card{
  margin-top: 10px;
  margin-left: 8px; 
  margin-bottom: 7px; 
  min-width: 27%;  
  max-width: 27%

}

.details-card mat-card-title{
    text-align: center;
}

@media (max-width: 959px){
  .details-card{
    max-width: 100%;
  }
} 
