<div class="mat-app-background basic-container" style="min-height:550px;">
  <mat-card>
    <h4>Change Password</h4>
    <p>* Required Fields</p>
    <simple-notifications [options]="options"></simple-notifications>
    <form class="changePassword-form" #f="ngForm" novalidate (ngSubmit)="onSave(f.value);isClickedOnce=!isClickedOnce;f.reset()">

      <mat-form-field class="changePassword-full-width" hideRequiredMarker=false floatLabel=auto>
        <input matInput placeholder="Old Password" type="password" class="form-control" name="oldPassword" [ngModel]="userPswdChng.oldPassword"
          required #oldPassword="ngModel">
        <mat-hint align="start"><strong>Enter your old password</strong></mat-hint>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="oldPassword.invalid || !(oldPassword.pristine && !f.submitted)">Old Password is required</mat-error>
      </mat-form-field>

      <mat-form-field class="changePassword-full-width" hideRequiredMarker=false floatLabel=auto>
        <input matInput #newPassword minlength="8" maxlength="25" placeholder="New Password" type="password" pattern="(?=^.{8,16}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
          class="form-control" name="newPassword" [ngModel]="userPswdChng.newPassword" required validateEqual="confirmPassword"
          reverse="true" #newPassword="ngModel">
        <mat-hint align="start"><strong>Max 25 & min 8 Character;atleast 1 upper case,1 lower case,1 numeric & 1 special character</strong> </mat-hint>
        <mat-hint align="end">{{newPassword.value.length}} / 25</mat-hint>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="newPassword.invalid || !(newPassword.pristine && !f.submitted)">
          Password must contain atleast 8 characters,1 upper case,1 lower case,1 numerical,1 special character
        </mat-error>
      </mat-form-field>

      <mat-form-field class="changePassword-full-width" hideRequiredMarker=false floatLabel=auto>
        <input matInput #confirmPassword maxlength="25" placeholder="Confirm Password" type="password" class="form-control" name="confirmPassword"
          [ngModel]="userPswdChng.confirmPassword" required validateEqual="newPassword" reverse="false" #confirmPassword="ngModel">
        <mat-hint align="start"><strong>Confirm Password should match with New Password</strong> </mat-hint>
        <mat-hint align="end">{{confirmPassword.value.length}} / 25</mat-hint>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="confirmPassword.invalid || !(confirmPassword.pristine && !f.submitted)">Password mismatch</mat-error>
      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button color="primary" [disabled]="!f.valid || isClickedOnce">
      <span class="text">{{isClickedOnce ? 'Processing' : 'Change Password'}}</span>
      <mat-icon class="fa-spin" color="primary" *ngIf="isClickedOnce">autorenew</mat-icon>
      </button>
        <a routerLink="/home/myAssets">
      <button mat-raised-button color="accent">Cancel</button>
      </a>
      </div>
      <!--end of button-row-->
    </form>
  </mat-card>
  <!--end of mat-card-->
</div>
<!--end of basic-container-->