<div class="mat-app-background basic-container" style="min-height:530px;">
      <simple-notifications [options]="options"></simple-notifications>
    <div class="main-section" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutWrap>
        <mat-card class="asset-card" *ngFor="let asset of assetDetails" (click)="assetPage(asset.asset_type)">
            <mat-card-title>{{asset.asset_type}}</mat-card-title>
            <mat-card-content>
                <img src="{{asset.image_url}}">
            </mat-card-content>
            <!--end of mat-card-content-->
            <mat-card-actions>
                <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{asset.asset_count}}</mat-chip>
                </mat-chip-list>
                <!--end of mat-chip-list-->
            </mat-card-actions>
            <!--end of mat-card-actions-->
        </mat-card>
        <!--end of asset-card-->

        <mat-card class="asset-card" *ngFor="let folder of folders;let i =index">
            <mat-card-title>
                {{folder.folder_name | replace }}
            </mat-card-title>
            <mat-card-content (click)="newFolder(folder.folder_name)">
                <img src="assets/ic_folder_black_24px.svg" alt="Photo of a Shiba Inu">
            </mat-card-content>
            <mat-card-actions>
                <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{folder.count}}</mat-chip>
                </mat-chip-list>
                <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item>
    <mat-icon>share</mat-icon>
    <span>Share With</span>
  </button> -->
                    <button mat-menu-item (click)="folderCopyCut('cut',folder.folder_name)">
    <mat-icon>move_to_inbox</mat-icon>
    <span>Cut</span>
  </button>
                    <button mat-menu-item (click)="folderCopyCut('copy',folder.folder_name)">
    <mat-icon>content_copy</mat-icon>
    <span>Copy</span>
  </button>
                    <button mat-menu-item [disabled]="pasteDisable" (click)="assetPaste(folder.folder_name)">
    <mat-icon>content_paste</mat-icon>
    <span>Paste</span>
  </button>
                    <button mat-menu-item (click)="deleteFolder(folder.folder_name,i)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
                    <button mat-menu-item (click)="openRenameFolder(folder.folder_name)">
    <mat-icon>mode_edit</mat-icon>
    <span>Rename</span>
  </button>
                    <button mat-menu-item (click)="openDetailsFolder(folder)">
    <mat-icon>info</mat-icon>
    <span>Details</span>
  </button>
                </mat-menu>
                <!--end of mat-chip-list-->
            </mat-card-actions>
            <!--end of mat-card-actions-->
        </mat-card>
    </div>
    <!--end of main-section-->
</div>
<!--end of basic-container-->