<h2> Image Search Results</h2>
<br><br>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/12.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/15.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/14.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/15.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/16.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/18.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/19.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/110.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/111.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
    <img src="../../assets/112.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
<mat-card>
    <img src="../../assets/15.jpg">
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
