<div class="mat-app-background basic-container" style="min-height:550px;">
  <mat-card>
    <simple-notifications [options]="options"></simple-notifications>
    <h3> Forgot Password</h3>
    <h4> Please enter your email and we will send you instructions to reset your password</h4>

    <form class="example-form" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit(forgotPasswordForm);isClicked = !isClicked"
      *ngIf=noClicked>
      <mat-error *ngIf="forgotPasswordForm.errors">
        {{errorMsg}}
      </mat-error>

      <mat-form-field class="example-full-width ">
        <input matInput placeholder="Email" formControlName="email_id" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
          required>
        <mat-error *ngIf="forgotPasswordForm.get('email_id').invalid && forgotPasswordForm.get('email_id').touched">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!(forgotPasswordForm.valid) || isClicked">
    <span class="text">{{isClicked ? 'Processing' : 'Submit'}}</span>
    <mat-icon class="fa-spin" color="primary" *ngIf="isClicked">autorenew</mat-icon>     
  </button>
        <a routerLink="">
      <button mat-raised-button type="submit" color="accent">Cancel</button>
    </a>
      </div>
    </form>

    <form class="example-form" [formGroup]="securityQuestionForm" novalidate (ngSubmit)="onSend(securityQuestionForm);isClicked1=!isClicked1;"
      *ngIf=isClickedOnce>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Question" formControlName="security_question" [value]=security_question readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Answer" formControlName="security_answer" required>
        <mat-error *ngIf="securityQuestionForm.get('security_answer').invalid && securityQuestionForm.get('security_answer').touched">
          Please enter your Answer
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!(securityQuestionForm.valid) || isClicked1">
    <span class="text">{{isClicked1 ? 'Processing' : 'Submit'}}</span>
    <mat-icon class="fa-spin" color="primary" *ngIf="isClicked1">autorenew</mat-icon>
  </button>
        <a routerLink="">
      <button mat-raised-button type="submit" color="accent">Cancel</button>
    </a>
      </div>
    </form>
  </mat-card>
</div>